<!doctype html>
<html lang="en">
<head>
  <title>MaEVe Admin UI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Connect a Charge Station</h1>
  <form name="connect" method="post">
    <div class="form-group">
      <label for="csid">Charge Station Id:</label>
      <input type="text" class="form-control" id="csid" name="csid" required/>
    </div>
    <fieldset class="form-group">
      <legend>Auth type:</legend>
      <div>
        <input type="radio" class="form-check-input" id="unsecured" name="auth" value="unsecured"/>
        <label for="unsecured" class="form-check-label">Unsecured with basic auth</label>
      </div>
      <div>
        <input type="radio" class="form-check-input" id="basic" name="auth" value="basic" checked/>
        <label for="basic" class="form-check-label">TLS with basic auth</label>
      </div>
      <div>
        <input type="radio" class="form-check-input" id="mtls" name="auth" value="mtls"/>
        <label for="mtls" class="form-check-label">TLS with client certificates</label>
      </div>
    </fieldset>
    <input type="submit" name="Register" value="Register" class="btn btn-primary">
  </form>
</div>
</body>
</html>